@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

p {
    font-size: 1.6rem;
}

h1{
    font-size: 6rem;
}

.app {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    position: relative;
    color: #040404;
    background-image: url('./assets/cloudy.jpg');
    background-position: center;
    background-size: cover;
}

.app .search {
    text-align: center;
    padding: 1rem;
}

.app .search input {
    text-align: center;
    padding: .5rem;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: rgba(196, 195, 195, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.8);
}

::placeholder {
    color: #696969;
}

.container {
    position: relative;
    top: 10%;
    padding: 5rem 1rem;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.app .top {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.app .bottom {
    display: flex;
    gap: 6rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    text-align: center;
}
